### LOL Analysis

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#import necessary libaries

In [3]:
lol = pd.read_csv('ALL_REGIONS.CSV')
#reading csv

In [4]:
lol.head()

,Unnamed: 0,summonerId,summonerName,leaguePoints,rank,region,championId,mainChampion,championType
0,0,eUAem_YIulMFpQ4OE8YGfmFi5hMrLOu5ZausZgzvXHFRXu8,Nick link,1873,I,BR1,24,Jax,Fighter
1,1,9AJ5yvWsinzJtQzDgTUCEbuxOUsRlwKmSGOIipaVJaQ6xX...,hidanvs1,1812,I,BR1,126,Jayce,Fighter
2,2,KuUrlLtNgu0rHFekube8sOVtowEKoK4bKGfnsif0WKWEGw,Morttheusz,1786,I,BR1,81,Ezreal,Marksman
3,3,ckewCLrxG1msVOxaGN0mXykk-v66iOiq5U33GkTxzM5kHw,QUINDINHO,1719,I,BR1,55,Katarina,Assassin
4,4,UoG1L5AHUuiDc9dBCFKIH4nCVnvjRVED63pYLAkrk4ze,SSG Corëjj,1663,I,BR1,888,Renata,Support

In [8]:
print(lol['leaguePoints'].dtype)
print(lol['championType'].dtype)
print(lol['summonerName'].dtype)
print(lol['region'].dtype)

int64
object
object
object

In [9]:
lol.describe()

        Unnamed: 0  leaguePoints   championId
count  1993.000000   1993.000000  1993.000000
mean    996.000000    896.644255   154.797792
std     575.473863    220.980753   152.050525
min       0.000000    462.000000     1.000000
25%     498.000000    774.000000    64.000000
50%     996.000000    875.000000   104.000000
75%    1494.000000   1015.000000   166.000000
max    1992.000000   1873.000000   888.000000

In [26]:
leaguePoints = lol['leaguePoints'].mean()
print(leaguePoints)

896.6442548921224

In [34]:
head = lol.head()
headleaguePoints = head['leaguePoints'].mean()
print(f'top five players mean: {headleaguePoints} pdls' )

top five players mean: 1770.6 pdls